.tasks-manager {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.task {
  padding: 15px 0px;
  margin: 0 10px;
  width: 360px;
  &__inner {
    background: #fff;
    height: 420px;
    width: 100%;
    border-radius: 2px;
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
  }
  &__item-header {
    padding-right: 10px;
    color: #28b;
    font-weight: 500;
  }
  &__item {
    border-bottom: 2px solid #4ea;
    padding: 10px;
    input[type='checkbox'] {
      transform: scale(2);
    }
  }
  &__buttons-field {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    flex-direction: column;
  }
  &__button {
    user-select: none;
    border-radius: 2px;
    background: #eee;
    display: flex;
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
    &:hover {
      background: #cfcfcf;
    }
  }
}

.layout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
