.login {
  display: flex;
  flex-direction: column;
  padding: 15px;
  &__button {
    align-self: flex-end;
    padding: 0 15px;
    background: #6af;
    color: #fff;
    &:hover {
      background: #59e;
    }
  }
  &__close-button {
    box-shadow: none;
    align-self: flex-end;
  }
  &__request-button {
    align-self: center;
    justify-content: center;
  }
}
