.sort-fields {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  &__description {
  margin: 0 10px 0 0;
}
  &__item {
  margin: 0 10px 0 0;
  justify-content: center;
  &_active {
    background: #4c9;
    color: #fff;
    &:hover {
      background: #4b8;
    }
  }
}
}




